<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nobel Prize Recipients </title>
  <!-- Leaflet CSS
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" /> -->
  <!-- Leaflet-Wikipedia CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet-wikipedia/dist/leaflet-wikipedia.css" /> -->
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- Leaflet JS
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>    
     Leaflet-Wikipedia JavaScript -->
  <!-- <script src="https://unpkg.com/leaflet-wikipedia/dist/leaflet-wikipedia.js"></script> -->
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our JavaScript -->
  <!-- <script type="text/javascript" src="/static/plots.js"></script> -->
  <script src="{{ url_for('static', filename='plots.js') }}"></script>
</head>

<body>
  <header>
    <div class="header-container">
      
      <!-- Other header content here -->
    </div>
  </header>
  <div class="container">
    <!-- <div class="row"> -->
      <div class="jumbotron">
        <h1>Nobel Peace Prize Recipients Data</h1>
        <p>Use the Interactive Map Below to Find Out More Information </p>
  <!-- The div that holds our map and Bar Charts -->
  <div class="col-md-5">
    <div id="male"></div>
  </div>
  <div class="col-md-5">
    <div id="female"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="map"></div>
  </div>
</div>
</div>
<!-- <h4>Accessing shit</h4>
<p>The following endpoints are available to access data:</p>
<ul>
    <li>
      <p>Access a list of all Winners</p>
        <a href="/api/v1.0/winners">/api/v1.0/Winners</a>
    </li>
    <li>
      <p>Get Year</p>
        <a href="/api/v1.0/year">/api/v1.0/Year</a>  
    </li>
    <li>
      <p>Get Names</p>
        <a href="/api/v1.0/name">/api/v1.0/Name</a>
    </li>
    <li>
        <p>get that Gender</p>
        <a href="/api/v1.0/gender">/api/v1.0/Gender</a>
    </li>
</ul> -->

</body>

</html>